body {
    text-align: center;
    background-color: rgb(197, 196, 196) ;
}

.square {
    text-align: center;
    width: 50px;
    background: #4d8b93;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    border-radius: 15%;
    cursor: pointer;
    color: #4d8b93;
}

.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #b30505;
    cursor: pointer;
}
