@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    text-align: center;
    background-color: #fac1b7 ;
    font-family: 'Indie Flower', cursive;
}

.square {
    text-align: center;
    width: 40px;
    background: #45919b;
    display: inline-block;
    padding: 40px;
    font-size: 35px;
    margin: 5px;
    border-radius: 15%;
    cursor: pointer;
    color: #4d8b93;
}

.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}

.botao {
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    height: 30px;
    color: #ffffff;
    background: #025192;
    border-radius: 15px;
    cursor: pointer;
}

.botao:hover {
    background-color: #00fd94;
    color: #000000;
}
